<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <header>{% block header %}{% endblock%}</header>

    <main>{% block content %}{% endblock %}</main>

    <footer>{% block footer %}{% endblock %}</footer>
</body>
</html>
