{% extends "base.html" %}

{% block content %}
    <h2>Profile</h2>

    {% if id %}
        <p>id: {{ id }}</p>

        <p>Link para <a href="{{ url_for('terms', variavel=id, GET='get') }}">terms</a></p> {# você pode usar funções aqui #}
    {% endif %}
{% endblock %}
